body {
    margin: 5px;
}

#logo {
    width: 200px;
    height: 50px;
    position: relative;
}

#sublogo {
    background-image: url("../../logo.png");
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    width: 200px;
    height: 50px;
    position: relative;
    animation-name: opacity;
    animation-duration: 1.25s;
    animation-timing-function: linear;
}

@keyframes opacity {
    from {
        opacity: 0
    }
    to {
        opacity: 1;
    }
}

#logo:after {
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: -5px;
    left: -5px;
    border-top: 4px solid black;
    border-right: 0px solid black;
    border-left: 4px solid black;
    border-bottom: 0px solid black;
    animation-name: borderAfter;
    animation-duration: 1.25s;
    animation-timing-function: linear;
    /* animation-iteration-count: infinite; */
}

#logo:before {
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 30px;
    left: 180px;
    border-top: 0px solid black;
    border-right: 4px solid black;
    border-left: 0px solid black;
    border-bottom: 4px solid black;
    animation-name: borderBefore;
    animation-duration: 1.25s;
    animation-timing-function: linear;
    /* animation-iteration-count: infinite; */
}

@keyframes borderAfter {
    0% {
        width: 20px;
        height: 20px;
        top: -5px;
        left: -5px;
        border-top: 4px solid black;
        border-right: 0px solid black;
        border-left: 4px solid black;
        border-bottom: 0px solid black;
    }
    6.66% {
        width: 40px;
        height: 0px;
        top: -5px;
        left: -5px;
        border-top: 4px solid black;
        border-right: 0px solid black;
        border-left: 4px solid black;
        border-bottom: 0px solid black;
    }
    64% {
        width: 40px;
        height: 0;
        top: -5px;
        left: 160px;
        border-top: 4px solid black;
        border-right: 4px solid black;
        border-left: 0px solid black;
        border-bottom: 0px solid black;
    }
    80% {
        width: 0px;
        height: 40px;
        top: -5px;
        left: 200px;
        border-top: 4px solid black;
        border-right: 4px solid black;
        border-left: 0px solid black;
        border-bottom: 0px solid black;
    }
    93.33% {
        width: 0px;
        height: 40px;
        top: 10px;
        left: 200px;
        border-top: 0px solid black;
        border-right: 4px solid black;
        border-left: 0px solid black;
        border-bottom: 4px solid black;
    }
    100% {
        width: 20px;
        height: 20px;
        top: 30px;
        left: 180px;
        border-top: 0px solid black;
        border-right: 4px solid black;
        border-left: 0px solid black;
        border-bottom: 4px solid black;
    }
}

@keyframes borderBefore {
    0% {
        width: 20px;
        height: 20px;
        top: 30px;
        left: 180px;
        border-top: 0px solid black;
        border-right: 4px solid black;
        border-left: 0px solid black;
        border-bottom: 4px solid black;
    }
    6.66% {
        width: 40px;
        height: 0px;
        top: 50px;
        left: 160px;
        border-top: 0px solid black;
        border-right: 4px solid black;
        border-left: 0px solid black;
        border-bottom: 4px solid black;
    }
    64% {
        width: 40px;
        height: 0;
        top: 50px;
        left: -5px;
        border-top: 0px solid black;
        border-right: 0px solid black;
        border-left: 4px solid black;
        border-bottom: 4px solid black;
    }
    80% {
        width: 0px;
        height: 40px;
        top: 10px;
        left: -5px;
        border-top: 0px solid black;
        border-right: 0px solid black;
        border-left: 4px solid black;
        border-bottom: 4px solid black;
    }
    93.33% {
        width: 0px;
        height: 40px;
        top: -5px;
        left: -5px;
        border-top: 4px solid black;
        border-right: 0px solid black;
        border-left: 4px solid black;
        border-bottom: 0px solid black;
    }
    100% {
        width: 20px;
        height: 20px;
        top: -5px;
        left: -5px;
        border-top: 4px solid black;
        border-right: 0px solid black;
        border-left: 4px solid black;
        border-bottom: 0px solid black;
    }
}